@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer components{
    .app{
        height: 100vh;
    }
    .main{
        width: 100%;
        height: calc(100vh - 4rem);
        position: relative;
        scroll-behavior: smooth;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .main::-webkit-scrollbar{
        display: none !important; /* Chrome, Safari , Opera*/
    }
    .content{
        width: 100%;
        height: calc(100vh - 4rem);
        scroll-snap-align: end;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .content::-webkit-scrollbar{
        display: none !important; /* Chrome, Safari , Opera*/
    }
    .footer{
        width: 100%;
        height: 85vh;
        scroll-snap-align:end;
    }
    .content-text{
        @apply p-4 md:text-3xl text-lg font-bold uppercase z-10 md:text-left text-center text-purple-50;
    }

    .tech-container{
        @apply rounded-2xl dark:bg-purple-50 dark:text-purple-50 bg-purple-600 text-purple-600 border-2 border-gray-200 dark:border-purple-600 col-span-3 md:col-span-1 h-auto w-5/6 justify-self-center p-10;
    }

    .tech-img-container{
        @apply text-center pb-6;
    }
    .tech-img{
        @apply h-16 w-16 inline-block dark:text-purple-600 text-purple-50;
    }

    .tech-title{
        @apply md:text-xl text-xl w-full font-bold p-2 text-center items-center uppercase dark:text-purple-600 text-purple-50 border-b-2 border-t-2 border-purple-50 dark:border-purple-600;
    }

    .tech-desc{
        @apply text-center py-4 border-b-2 border-purple-50 dark:border-purple-600 break-words text-purple-50 dark:text-purple-600 text-xl;
    }

    .tech-item-content{
        @apply border-2 rounded-2xl border-purple-600 bg-purple-50 text-purple-600 font-bold text-lg md:text-xl py-2;
    }

    .tech-item-container{
        @apply text-center py-2;
    }

    .footer-from{
        @apply py-4 text-purple-600 w-full md:w-1/3 font-bold font-serif;
    }

    .footer-from-title{
        @apply dark:text-purple-600 text-white;
    }
    .footer-from-input{
        @apply px-4 py-2 dark:bg-purple-500 font-bold dark:text-white font-serif rounded dark:placeholder-white placeholder-purple-600;
    }
}

@media screen and (max-width: 768px) {
    .main{
        scroll-snap-type: none;
    }
    .content{
        scroll-snap-align: none;
    }
    .content{
        height:auto;
    }
}